<!DOCTYPE html>
<html>
  <head>
    <title>Team PacMan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
       
      <!--<p>{{ message }}</p>-->
  


  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br><br>
<div class="container alert alert-info">
      <center><h4 style="font-family: verdana">Team PacMan</h4></center>
      <!--<div class="panel-body"><center>Demo of Project (As part of Hackathon)</center></div>-->
    
</div>


<br>
<div class="container panel-group panel panel-danger panel-heading">
  <font style="font-family: verdana">
  Prediction : {{ prediction }} <br>
    Model : {{ model }} <br>
     City : {{ city }}</font>
   
    <!--<img src="/static/anup.png">-->
</div>
<br>
<div class="container alert alert-info">
      <center><h4 style="font-family: verdana">Visualisation</h4></center>
      <!--<div class="panel-body"><center>Demo of Project (As part of Hackathon)</center></div>-->
    
</div>

<div class="container alert alert-info">
      <center><h4 style="font-family: verdana">Conclusion</h4></center>
      <!--<div class="panel-body"><center>Demo of Project (As part of Hackathon)</center></div>-->
    
</div>


  </body>
</html>